@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
.codetable {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bodybackground);
}

table {
  border: 2px solid #313131;
  overflow-x: scroll;
  margin-top: 50px;
}

tbody {
  overflow-y: scroll;
  display: block;
  height: 90vh;
}

th {
  border-bottom: 1px solid var(--loginsignupcolor);
  color: var(--loginsignupcolor);
  font-weight: 300;
	font-size: 25px;
}

th {
  text-align: center;
  height: 30px;
}

td {
  text-align: center;
  padding: 20px;
}

td a{
  color: var(--footerbackground);
}


.editCode {
  width: 70px;
  height: 70px;
  background-color: rgb(21, 230, 56);
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 6px;
  margin: 7px;
}

.deleteCode {
  background-color: red;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 6px;
  margin: 7px;
}

button:hover {
  cursor: pointer;
}  